/* .algo => class = "algo"=
    #info-libro => id="info-libro"
*/
/* Prioridades:  */
/* inline > id > class > etiqueta > '*'selector universal */
/* 1 rem = 16px */
header{
    background-color: rgb(17, 37, 54);
    color: black;
}

/*El backgroud era un gif, quedaba muy lindo pero pesaba 180 y no me dejaba subirlo
asi que de momento le dejo una foto y despues intento recortarlo mas todavia */
body{
  background-image:url(../img/cosmere.jpg);
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;   
  background-repeat: repeat-y; 
  background-position: center center; 
  color: aliceblue;
}
 
.grid-productos {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 1fr; /* 5 columnas */
    gap: 10px;
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 10px;
}

.item {
    padding: 10px;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
}

.header {
    font-weight: bold;
    background: rgba(255,255,255,0.2);
}


.content-centrado{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
  padding: 2rem;
}


.grid-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  max-width: 81.25rem; 
  margin: 0 auto;  

}
.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}
.sep-box {
    text-align: center;
    padding: 8px 0;
    margin: 25px 0;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    font-size: 30px;
    color: #fdf8f8;
    letter-spacing: 5px;
}

/* Imagen */
.grid-item img {
  width: 80%;
  border-radius: 0.3rem;

}

.autores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
    margin: 40px auto;
    max-width: 900px;
    padding: 0 20px;
}

.autor-card {
    text-align: center;
}

.autor-card img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

.autor-card p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #949393;
}

.contacto-form form {
    display: grid;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.contacto-form input,
.contacto-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contacto-form input[type="submit"] {
    background: #333;
    color: white;
    cursor: pointer;
}

.subtitulo-nosotros {
    text-align: center;
    margin-top: 30px;
    color: #887ae4;
    font-weight: normal;
}
.lista-compromiso {
    list-style: none;
    padding: 0;
    margin: 25px 0;
    text-align: center;
    color: #929292;
}
.lista-compromiso li {
    margin: 8px 0;
}

 footer{
    background-color: aliceblue;
    margin: top 1.9rem;;
    color: black;
    justify-content: center; 
    align-items: center;     
    text-align: center; 
 }
 

 /*Aca esta por verse  */
 /*Deberia buscar la forma de rotar Palabras radiantes o hacerlo todo en la misma columna pero no me gusta como queda asi en formatoe escritorio */
 /*En la pagina 3 esta por verse el tema de la tabla ya que hace que en mi celular 390 x 844 queda espacio en los costados*/
 @media (max-width: 768px) {

  body {
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .grid-item img {
    width: 90%;
    max-width: 90%;
  }

  .descripcion {
    padding: 0.5rem 1rem;
  }

  .descripcion h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .descripcion p {
    font-size: 0.95rem;
    line-height: 1.4;
  }
  .grid-productos {
   grid-template-columns: 1fr 1fr; /* 2 columnas */
  }
  .header {
    grid-column: span 2; /* Las cabeceras ocupan toda la fila */
  }

  footer {
    font-size: 0.9rem;
    padding: 1rem;
  }
}