@charset "UTF-8";
/* VARIABLES */
/* MIXINS */
/* Breakpoints */
/* MEDIA QUERIES */
/* MOBILE */
@media (max-width: 768px) {
  .grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    grid-template-columns: unset !important;
    grid-auto-flow: unset !important;
    place-items: unset !important;
  }
  .grid-item img {
    width: 90% !important;
    margin: 0 auto;
  }
  /* Cards para productos */
  .grid-productos {
    display: block;
  }
  .item.header {
    display: none;
  }
  .item {
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 0.6rem;
    color: black;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .item::before {
    margin-right: 1rem;
    font-weight: bold;
  }
  .item:nth-of-type(4n + 1)::before {
    content: "ID";
  }
  .item:nth-of-type(4n + 2)::before {
    content: "Precio";
  }
  .item:nth-of-type(4n + 3)::before {
    content: "Envío";
  }
  .item:nth-of-type(4n + 4)::before {
    content: "Descripción";
  }
  .autores-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .autores-grid .autor-card img {
    height: 12rem;
  }
  footer {
    font-size: 0.9rem;
  }
}
/* MEDIA QUERIES */
/* TABLET */
@media (max-width: 1024px) {
  .grid-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-productos .header {
    grid-column: span 2;
  }
  .grid-item {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .grid-item img {
    width: 60%;
  }
  .autores-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
:root {
  font-size: 16px;
}

/* BODY Y HEADER */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: aliceblue;
  background: url(../img/cosmere.jpg) center/cover repeat-y;
}

header {
  background-color: rgb(17, 37, 54);
  color: black;
}

/* CONTENEDORES GENERALES */
.content-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.sep-box {
  text-align: center;
  padding: 0.5rem 0;
  margin: 1.5rem 0;
  border-top: 0.125rem solid #aaa;
  border-bottom: 0.125rem solid #aaa;
  font-size: 2rem;
  color: aliceblue;
  letter-spacing: 0.3rem;
}

/* GRID PRODUCTOS (TABLA) */
.grid-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 0.6rem;
}
.grid-productos .item {
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.3rem;
}
.grid-productos .item.header {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

/* GRID LIBROS (imagen + descripción) */
.grid-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  max-width: 81.25rem;
  margin: 0 auto;
}

.grid-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  gap: 2rem;
}
.grid-item img {
  width: 80%;
  border-radius: 0.3rem;
}

/* AUTORES */
.autores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  gap: 1rem;
  gap: 1.5rem;
  margin: 2.5rem auto;
  max-width: 56.25rem;
  padding: 0 1.25rem;
}
.autores-grid .autor-card {
  text-align: center;
}
.autores-grid .autor-card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
.autores-grid .autor-card p {
  margin-top: 0.6rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #949393;
}

/* FORMULARIO CONTACTO */
.contacto-form form {
  display: grid;
  gap: 0.6rem;
  max-width: 25rem;
  margin: auto;
}
.contacto-form form input,
.contacto-form form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
.contacto-form form input[type=submit] {
  background: #333;
  color: white;
  padding: 0.7rem;
  cursor: pointer;
}

/*  NOSOTROS */
.subtitulo-nosotros {
  text-align: center;
  margin-top: 2rem;
  color: #887ae4;
}

.lista-compromiso {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
  text-align: center;
  color: #929292;
}
.lista-compromiso li {
  margin: 0.5rem 0;
}

/* FOOTER */
footer {
  background-color: aliceblue;
  color: black;
  text-align: center;
  padding: 1rem;
}

/*# sourceMappingURL=main.css.map */
