@use "./utilities/variables" as *;
@use "./utilities/mixins" as *;


//mq 

@use "./layout/mq-mobile.scss";
@use "./layout/mq-tablet.scss";

//odio sass me rompio la pagina 14 veces con 78657 de cosas diferentes

:root {
  font-size: 16px;
}

/* BODY Y HEADER */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: $color-texto;
  background: url(../img/cosmere.jpg) center/cover repeat-y;
}

header {
  background-color: $color-header;
  color: black;
}

/* CONTENEDORES GENERALES */

.content-centrado {
  @include flex-center;
  
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.sep-box {
  text-align: center;
  padding: 0.5rem 0;
  margin: 1.5rem 0;
  border-top: 0.125rem solid $color-separador;
  border-bottom: 0.125rem solid $color-separador;
  font-size: 2rem;
  color: $color-texto;
  letter-spacing: 0.3rem;
}

/* GRID PRODUCTOS (TABLA) */

.grid-productos {
  @include grid(repeat(4, 1fr));
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: $radius-md;

  .item {
    padding: 0.8rem;
    background: $color-card;
    border-radius: $radius-sm;

    &.header {
      background: $color-card-header;
      font-weight: bold;
    }
  }
}

/* GRID LIBROS (imagen + descripción) */

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  max-width: $max-width;
  margin: 0 auto;
}

.grid-item {
  @include grid(1fr 1fr);
  align-items: center;
  gap: 2rem;

  img {
    width: 80%;
    border-radius: $radius-sm;
  }
}

/* AUTORES */

.autores-grid {
  @include grid(repeat(auto-fit, minmax(11.25rem, 1fr)));
  gap: 1.5rem;
  margin: 2.5rem auto;
  max-width: 56.25rem;
  padding: 0 1.25rem;

  .autor-card {
    text-align: center;

    img {
      width: 100%;
      height: 15rem;
      object-fit: cover;
      border-radius: $radius-md;
      box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
    }

    p {
      margin-top: 0.6rem;
      font-weight: bold;
      font-size: 1.1rem;
      color: #949393;
    }
  }
}

/* FORMULARIO CONTACTO */

.contacto-form {
  form {
    display: grid;
    gap: 0.6rem;
    max-width: 25rem;
    margin: auto;

    input,
    textarea {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: $radius-sm;
    }

    input[type="submit"] {
      background: #333;
      color: white;
      padding: 0.7rem;
      cursor: pointer;
    }
  }
}

/*  NOSOTROS */

.subtitulo-nosotros {
  text-align: center;
  margin-top: 2rem;
  color: #887ae4;
}

.lista-compromiso {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
  text-align: center;
  color: #929292;

  li {
    margin: 0.5rem 0;
  }
}

/* FOOTER */

footer {
  background-color: aliceblue;
  color: black;
  text-align: center;
  padding: 1rem;
}

