/* MEDIA QUERIES */
@use "../utilities/mixins" as *;

/* TABLET */
@include respond-to(tablet) {

  .grid-productos {
    grid-template-columns: repeat(2, 1fr);

    .header {
      grid-column: span 2;
    }
  }

  .grid-item {
    grid-template-columns: 1fr;
    text-align: center;

    img {
      width: 60%;
    }
  }

  .autores-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}