/* VARIABLES */


$color-texto: aliceblue;
$color-header: rgb(17, 37, 54);
$color-card: rgba(255, 255, 255, 0.3);
$color-card-header: rgba(255, 255, 255, 0.2);
$color-separador: #aaa;

$radius-sm: 0.3rem;
$radius-md: 0.6rem;

$max-width: 81.25rem;
